.logobasics {
    text-align: center;
    font-weight: bold;
    color: aqua;
    
}


.contactme {
    text-align: center;
    font-weight: 300;
    color: yellow;

}


.gmaillogo {
    width: 40px;
    height: auto;

}

.logo {
    text-align: center;
    color: aliceblue;
    
}

* {
    border: 2px solid black;
}


