


.contactme {
    text-align: center;
    font-weight: 300;
    color: yellow;

}


.gmaillogo {
    width: 40px;
    height: auto;

}

.logo {
    text-align: center;
    color: aliceblue;
    
}
.contactmelogo {
    margin-left: 50%;
    margin-right: auto;
    width: 40px;
    height: auto;
}

.header {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    border-width: 5px;
    border-style: inset;
    border-right-color: black;
    border-bottom-color: black;
    padding: 10px;
    color: black;
    text-align: center;
    font-weight: bold;
    background-color: rgb(141, 139, 139);
}