.logobasics {
    text-align: center;
    font-weight: bold;
    color: aqua;
    
}


.contactme {
    text-align: left;
    font-weight: 300;
    color: red;

}


.gmaillogo {
    width: 40px;
    height: auto;

}

.logo {
    text-align: center;
    color: aliceblue;
    
}